shamefully-hoist=true
# electron 镜像配置
registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/

# python 下载时镜像位置
python=C:\Users\59607\.windows-build-tools\python27\python.exe
python-mirror=https://npmmirror.com/mirrors/python/

# 添加配置，允许所有脚本运行 .不运行脚本 依赖可能无法正常构建
enable-pre-post-scripts=true
allowed-deprecated-scripts=postinstall
allow-scripts=@serialport/bindings-cpp,usb,electron