shamefully-hoist=true
# electron 镜像配置
registry=https://registry.npmmirror.com/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/

# python 下载镜像和安装位置配置
python=C:\Users\59607\AppData\Local\Programs\Python\Python39\python.exe
python-mirror=https://npmmirror.com/mirrors/python/

# 添加配置，允许所有脚本运行 .不运行脚本 依赖可能无法正常构建
# 有些依赖包可能包含 C、C++ 等原生代码，这些代码需要在用户的本地环境中进行编译。例如，node - hid 这个包可能需要与底层的操作系统进行交互，它可能包含一些原生代码，构建脚本会负责调用相应的编译器（如 GCC 等）来编译这些原生代码，生成可在当前系统上运行的二进制文件。
enable-pre-post-scripts=true
allowed-deprecated-scripts=postinstall
allow-scripts=@serialport/bindings-cpp,usb,electron,node-hid