shamefully-hoist=true
# electron 镜像配置

# Electron 国内镜像
electron_mirror=https://npmmirror.com/mirrors/electron/

# npm 镜像配置
registry=https://registry.npmmirror.com/

electron-builder-binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/

# 指定node-gyp使用uv的Python
python=C:\Users\Administrator\AppData\Roaming\uv\python\cpython-3.12-windows-x86_64-none\python.exe
python-mirror=https://npmmirror.com/mirrors/python/
